$legacy_browser_support: false;
$pink: #da1781;
$dark-grey: #4a4a4a;
$light-grey: #c6c6c6;
$light-blue: #0baff0;
$black: #000000;
$full-light-grey: #dfe2e5;
$header-line-color: linear-gradient(262deg, #ffffff, #fff0a3 3%, #ffd700 16%, #ff41f2 84%, #df33ff);
